<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sigorta.Properties.Settings.sigortaConnectionString"
            connectionString="Data Source=ISMAILPC;Initial Catalog=sigorta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>